.record {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: rem(64);
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: rem(96) 0;
    position: relative;
    width: 100%;

    @include max-md {
        gap: rem(48);
        padding: rem(64) 0 0;
    }

    .textBox {
        align-items: center;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: rem(20);
        height: min-content;
        justify-content: center;
        overflow: visible;
        padding: 0;
        position: relative;
        width: 100%;

        .desc {
            align-items: center;
            display: flex;
            flex: none;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: rem(12);
            height: min-content;
            justify-content: center;
            max-width: rem(768);
            overflow: visible;
            padding: 0;
            position: relative;
            width: 100%;

            .coming {
                border: rem(1) solid #b2ddff;
                align-content: center;
                align-items: center;
                background-color: #eff8ff;
                border-radius: rem(9999);
                display: flex;
                flex: none;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 0;
                height: min-content;
                justify-content: flex-start;
                overflow: visible;
                padding: rem(4) rem(12);
                position: relative;
                width: min-content;
                font-size: rem(14);
                line-height: rem(20);
                font-weight: 500;
                color: #101828;
                text-align: center;
                white-space: pre;
                color: #175cd3;
            }

            .label {
                font-size: rem(16);
                line-height: rem(24);
                font-weight: 600;
                color: rgba(23, 92, 211, 1);
                text-align: center;
            }

            .title {
                font-size: rem(36);
                line-height: rem(44);
                font-weight: 600;
                color: #101828;
                text-align: center;
                letter-spacing: -0.02em;
            }
        }

        .text {
            font-size: rem(20);
            line-height: rem(30);
            font-weight: 400;
            color: #475467;
            text-align: center;
        }
    }

    .parallax {

        align-items: center;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: rem(96);
        height: min-content;
        justify-content: flex-start;
        max-width: 1280px;
        overflow: visible;
        padding: 0 rem(32);
        position: relative;
        transform: perspective(1200px);
        width: 100%;

        .background {
            align-items: center;
            display: flex;
            flex: none;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: rem(32);
            justify-content: center;
            overflow: visible;
            padding: 0;
            position: relative;
            width: 100%;

            .camera_1 {
                aspect-ratio: 1.2857142857142858 / 1;
                flex: none;
                height: var(--framer-aspect-ratio-supported, 190px);
                overflow: visible;
                position: relative;
                width: rem(244);

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-position: center;
                    object-fit: cover;
                    image-rendering: auto;
                }
            }

            .camera_2 {
                aspect-ratio: 1.471502590673575 / 1;
                flex: none;
                height: var(--framer-aspect-ratio-supported, 308px);
                overflow: visible;
                position: relative;
                width: rem(454);

                @include max-md {
                    width: rem(377);
                    height: rem(256);
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-position: center;
                    object-fit: cover;
                    image-rendering: auto;
                }
            }
        }
    }





    .coming {
        border: rem(1) solid #b2ddff;
        align-content: center;
        align-items: center;
        background-color: #eff8ff;
        border-radius: rem(9999);
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
        height: min-content;
        justify-content: flex-start;
        overflow: visible;
        padding: rem(4) rem(12);
        position: relative;
        width: min-content;
        font-size: rem(14);
        line-height: rem(20);
        font-weight: 500;
        color: #101828;
        text-align: center;
        white-space: pre;
        color: #175cd3;
    }
}