.banner {
  @include flex-column;
  padding-top: rem(180);
  padding-bottom: rem(96);
  background-color: #f9fafb;
  .container {
    @include flex-column;
    @include container;

    h1 {
      font-size: rem(60);
      line-height: rem(72);
      font-weight: 600;
      color: #101828;

      span {
        text-decoration: underline;
      }
    }

    p {
      margin-top: rem(24);
      font-weight: 400;
      color: #000;
      font-size: rem(20);
      line-height: rem(30);
    }

    .button {
      margin-top: rem(48);

      a {
        display: block;
        width: fit-content;
        padding: 16px 22px;
        font-size: 18px;
      }
    }
    img{
        margin-top: rem(64);
        width: 100%;
    }
  }
}