.featuresCont {
  place-content: center flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 64px;
  height: min-content;
  overflow: hidden;
  padding: 96px 0;
  position: relative;
  width: 100%;


  .container {
    @include container;
    @include flex-column;
    gap: rem(64);

    .titleCont {
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
      height: min-content;
      justify-content: flex-start;
      max-width: 768px;
      padding: 0;
      position: relative;
      @include max-md {
        gap: 32px;
        max-width: 1280px;
        overflow: visible;
        position: relative;
        width: 100%;
      }
      h2 {
        color: #000;
        font-size: rem(36);
        line-height: rem(44);
        font-weight: 600;
      }

      p {
        color: #000;
        font-size: rem(20);
        line-height: rem(30);
      }
    }

    .featuresWrapper {
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex: none;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 64px;
      height: min-content;
      justify-content: flex-start;
      max-width: 1280px;
      position: relative;
      width: 100%;

      @include max-md {
        flex-direction: column;
      }
      .features {
        align-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex: 1 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        height: auto;
        justify-content: flex-start;
        padding: 0;
        position: relative;
        transform: perspective(1200px);
        @include max-md {
          align-self: unset;
          flex: none;
          height: min-content;
          width: 100%;
        }

        .feature {
          align-content: flex-start;
          align-items: flex-start;
          display: flex;
          flex: 1 0 0px;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 20px;
          height: min-content;
          justify-content: flex-start;
          min-width: 240px;
          padding: 0;
          position: relative;
          width: 1px;

          .icon {
            aspect-ratio: 1 / 1;
            border-radius: 10px;
            box-shadow: 0 1px 2px #1018280d;
            flex: none;
            height: var(--framer-aspect-ratio-supported, 48px);
            overflow: visible;
            position: relative;
            width: 48px;
            border: 1px solid #eaecf0;;
            @include align-items-center;
            @include justify-content-center;
          }

          h3 {
            color: #000;
            font-size: rem(20);
            line-height: rem(30);
            font-weight: 600;
          }

          p {
            color: #000;
            font-size: rem(16);
            line-height: rem(24);
          }
        }
      }

      .featuresImages {

        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 32px;
        justify-content: center;
        padding: 0;
        width: 100%;

        @include sm {
          flex: 1 0 0;
          height: 512px;
          position: relative;
          width: 1px;
        }
        @include max-md {
          flex: none;
          height: 512px;
          position: relative;
          width: 100%;
        }

        .admin {
          border-radius: 12px;
          flex: none;
          height: 682px;
          left: 64px;
          position: absolute;
          top: 0;
          transform: perspective(1200px);
          width: 1024px;
          border-width: 6px;
          border-color: #101828;
          display: none;
          @include sm {
            display: block;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-position: center center;
            object-fit: fill;
            image-rendering: auto;
          }
        }

        .phoneImage {
          opacity: 1;
          aspect-ratio: .49061031341552735 / 1;
          flex: none;
          height: var(--framer-aspect-ratio-supported, 640px);
          overflow: visible;
          width: 314px;
          position: relative;

          @include sm {
            aspect-ratio: .49061031341552735 / 1;
            flex: none;
            height: var(--framer-aspect-ratio-supported, 640px);
            left: -8px;
            position: absolute;
            top: 30%;
            transform: perspective(1200px) translateY(-50%);
            width: 314px;
            z-index: 2;
          }
          .phone {
            background-color: #fff;
            flex: none;
            inset: 14px 17px 16px 16px;
            overflow: hidden;
            position: absolute;
            @include sm {
            position: absolute;
            z-index: -1;

            }
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-position: center center;
              object-fit: fill;
            }
          }

          .border_phone {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            @include sm {
            image-rendering: pixelated;
            flex-shrink: 0;
            fill: rgba(0, 0, 0, 1);
            color: rgba(0, 0, 0, 1);
            }
          }
        }
      }
    }
  }

}