@import "src/styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.framerHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  max-height: rem(80);
  height: rem(80);
  @include element-center;
  width: 100%;
  transition: all 0.5s ease,
}

.navbar {
  @include element-center;
  @include justify-content-between;
  @include container;
  position: relative;

  .leftSide {
    @include element-center;
    gap: 40px;

    .logoContainer {
      @include element-center;
      gap: 12px;

      .logo {
        width: rem(172);
        height: rem(24);

      }
    }

    .nav {
      @include element-center;
      gap: 32px;

      @include max-lg {
        display: none;
      }

      .navLink {
        color: $--Gray-600;
        font-family: 'Sora', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 150% */
        transition: all 0.3s ease-in-out;

        &:hover {
          color: rgba(0, 0, 0, 0.90);
        }
      }
    }
  }

  .rightSide {

    .btn_group {
      display: flex;
      gap: rem(12);
      align-items: center;

      @include max-lg {
        display: none;
      }

      .login_button {
        padding: rem(10) rem(16);
        box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
        border-radius: rem(8);
        border: rem(1) solid rgb(208, 213, 221);
        cursor: pointer;
        color: var(--extracted-1w3ko1f, #344054);
        font-size: rem(16);
        font-weight: 600;
      }

      .signup_button {
        padding: rem(10) rem(16);
        box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
        border-radius: rem(8);
        border: rem(1) solid rgb(208, 213, 221);
        cursor: pointer;
        color: #fff;
        font-size: rem(16);
        font-weight: 600;
        background: #156fee;
      }
    }

    .icon_box {
      width: rem(18);
      height: rem(12);
      display: none;

      @include max-lg {
        display: block;
      }

      img {
        position: relative !important;
        width: 100%;
        height: 100%;
      }
    }

  }
}

.burger {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  width: 100%;
  position: absolute;
  top: rem(80);
  z-index: 999;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(16, 24, 40, 0.03) 0px 4px 6px -2px, rgba(16, 24, 40, 0.08) 0px 12px 16px -4px;


  .list {
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: rem(8);
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: rem(24) 0;
    position: relative;
    width: 100%;

    a {
      color: $--Gray-600;
      font-family: 'Sora', sans-serif;
      font-size: rem(16);
      font-style: normal;
      font-weight: 600;
      line-height: rem(24);
      transition: all 0.3s ease-in-out;
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: none;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: rem(12);
      height: min-content;
      justify-content: flex-start;
      overflow: hidden;
      padding: rem(12) rem(16);
      position: relative;
      text-decoration: none;
      width: 100%;

      &:hover {
        color: rgba(0, 0, 0, 0.90);
      }
    }
  }

  .btn_group {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: rem(12);
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    padding: rem(24) rem(16);
    border-top: 1px solid #eaecf0;

    .login_button {
      padding: rem(10) rem(16);
      box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
      border-radius: rem(8);
      border: rem(1) solid rgb(208, 213, 221);
      cursor: pointer;
      color: var(--extracted-1w3ko1f, rgba(52, 64, 84, 1));
      font-size: rem(16);
      font-weight: 600;
      width: 100%;
    }

    .signup_button {
      padding: rem(10) rem(16);
      box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
      border-radius: rem(8);
      border: rem(1) solid rgb(208, 213, 221);
      cursor: pointer;
      color: #fff;
      font-size: rem(16);
      font-weight: 600;
      background: #156fee;
      width: 100%;
    }
  }
}